body {
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: ghostwhite;
}

/* body > h1, h2, h3, h4, h5, h6 {
  margin-left: 3vmin;
} */

body > #header {
  width: 100%;
  height: 5vh;
  background-color: turquoise;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
} 

body > #footer {
  width: 100%;
  height: 5vh;
  bottom: 0;
  position: fixed;
  background-color: turquoise;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

 nav > a, span {
  margin: auto;
  color: whitesmoke;
  text-decoration: none;
}

nav > #img {
  width: 34px;
  object-fit: contain;
  margin: 3vmin;
}

#index-container {
  padding-bottom: 5vh;
}

#show-container {
  padding-bottom: 5vh;
}


