body {
  margin: 0;
  height: 100vh;
  background-color: ghostwhite;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
}

body > h1, h2, h3, h4, h5, h6 {
  margin-left: 3vmin;
}

body > #header {
  width: 100vw;
  height: 5vh;
  background-color: turquoise;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body > #footer {
  width: 100vw;
  height: 5vh;
  background-color: turquoise;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > a, span {
  margin: auto;
  color: whitesmoke;
  text-decoration: none;
}

nav > #img {
  width: 34px;
  object-fit: contain;
  margin: 3vmin;
}

#posts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  padding-top: 50px;
}

.posts {
  display: flex;
  width: 90vw;
  height: 30vh;
  margin: 5vh;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 10px lightgray;
}

#edit-form, #new-form {
  display: grid;
  grid-template-columns: auto auto;
}

#edit-form > input, label {
  margin: 2vmin;
}
