<%- include('../partials/header') %>

<form id="new-form" action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <h3>Post a boulder!</h3>
    <label>Name:</label>
    <input type="text" name="name" value="<%= post.name %>">
    <input type="submit" value="Edit Boulder">
</form>

<%- include('../partials/footer') %>
