<%- include('../partials/header') %>

<h2>Look at this cool post.</h2>


<table id="list">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= post.name %></td>
        <% if (user) { %>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE BOULDER</button>
            </form>
        <% } else { %>
        <% } %>
        </tr>
    </tbody>
</table>

<%- include('../partials/footer') %>
